.mainDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 13px;
}
.BigImgCon {
  display: flex;
  justify-content: center;
  height: 80%;
}
.lowerCon {
  padding-left: 30px;
}
.ul {
  display: flex;
  list-style-type: none;
}
